<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="WcfServiceContract.Calculator" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/Calculator" />
          </baseAddresses>
        </host>

        <endpoint name="ENDPOINT_1" address="/endpoint1" binding="wsHttpBinding" contract="WcfServiceContract.ICalculator" />
        <endpoint name="ENDPOINT_2" address="/endpoint2" binding="basicHttpBinding" contract="WcfServiceContract.ICalculator" />
        <endpoint name="ENDPOINT_3" address="http://localhost:9002/Calculator/endpoint3" binding="basicHttpBinding" contract="WcfServiceContract.ICalculator" />
        <endpoint name="ENDPOINT_MEX" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>